$success: #28a745;
$info: #285fa7;
$warning: #d58408;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.dropdown:hover .dropdown-menu { // Display dropdown menu on hover
  display: block;
  //inset: 0 auto auto 0;
  margin: 0;
}

.form-control::file-selector-button {
  margin-right: 1rem; // Fix file input button
}

.background-secondary {
  background-color: var(--bs-secondary-bg) !important;
}

.report-body ul {
    margin-bottom: -21px;
    padding-left: 1rem;
    list-style-type: '- ';
}

.btn-icon {
    padding: 0;
    border: none;
    --bs-btn-color: var(--bs-emphasis-color);
    --bs-btn-hover-color: var(--bs-tertiary-color);
    vertical-align: inherit;
}

.btn-form-bg {
  --bs-btn-bg: var(--bs-form-control-bg)
}
