{% extends "central_card_layout.html" %}

{% block title %}Create Alliance - >CLOP{% endblock %}

{% block card-header %}Create Alliance{% endblock %}

{% block card-body %}
<form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate="">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="mb-2 text-muted">Name</label>
        <input
                type="text"
                class="form-control {% if form.errors.name %}is-invalid{% endif %}"
                id="name"
                name="name"
                value="{{ form.name.value|default_if_none:"" }}"
                required=""
                autofocus=""
        >
        <div class="invalid-feedback">{{ form.errors.name }}</div>
    </div>
    <div class="mb-3">
        <label for="description" class="mb-2 text-muted">Description</label>
        <textarea
                class="form-control {% if form.errors.description %}is-invalid{% endif %}"
                id="description"
                name="description"
                rows="3"
        >{{ form.description.value|default_if_none:"" }}</textarea>
        <div class="invalid-feedback">{{ form.errors.description }}</div>
    </div>
    <div class="mb-3">
        <label for="flag" class="mb-2 text-muted">Flag</label>
        <div class="input-group {% if form.errors.flag %}is-invalid{% endif %}">
            <input
                    type="file"
                    class="form-control {% if form.errors.flag %}is-invalid{% endif %}"
                    aria-label="upload flag"
                    id="flag"
                    name="flag"
                    value="{{ form.flag.value|default_if_none:"" }}"
            >
        </div>
        <div class="invalid-feedback">{{ form.errors.flag }}</div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-3">Create Alliance</button>
    </div>
</form>
{% endblock %}

{% block card-footer %}
{% endblock %}