<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Nations</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members.all %}
            <tr>
                <td class="ps-2">{{ member.get_rank_display }}</td>
                <td>
                    <a href="{{ member.user.get_absolute_url }}" class="text-body">{{ member.user.username }}</a>
                </td>
                <td>
                    <div class="d-flex flex-column">
                        {% for nation in member.nations.all %}
                            <div>{% include 'misc/nation_flag_name.html' with nation=nation %}</div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>