{% load webpack_loader static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}>CLOP{% endblock %}</title>
    {% stylesheet_pack 'layout' %}
</head>

<body class="h-100">
<nav class="navbar navbar-expand-sm" style="background-color: var(--bs-tertiary-bg);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">>CLOP</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href=""
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            User
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">User Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% if not user.has_nations %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_nation' %}">Create nation</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href=""
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                Nation
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'nation_overview' %}">Overview</a></li>
                                <li><a class="dropdown-item" href="{% url 'nation_actions' %}">Actions</a></li>
                                <li><a class="dropdown-item" href="{% url 'reports' %}">Reports</a></li>
                                {#                                <li><hr class="dropdown-divider"></li>#}
                                {#                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>#}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href=""
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Alliance
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'alliances' %}">Alliances</a></li>
                            {% if user.has_alliance %}
                            <li><a class="dropdown-item" href="{% url 'my_alliance' %}">My Alliance</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'create_alliance' %}">Create Alliance</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if user.has_nations %}
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href=""
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                Globohomo
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'market' %}">Market</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_orders' %}">My Orders</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

{% include 'notifications.html' %}

{% block content %}{% endblock %}

{% javascript_pack 'layout' 'layout' attrs='charset="UTF-8"' %}

{% block extra_scripts %}

{% endblock %}

<script>
    let theme = '{{ user.profile.color_scheme|default:"system" }}';
    if (theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
    } else {
        document.documentElement.setAttribute('data-bs-theme', theme)
    }
</script>

</body>
</html>