{% extends "layout.html" %}

{% block title %}{{ nation.name }} - >CLOP{% endblock %}


{% block content %}
    <section>
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-xs-12 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-center">
                            {% if nation.flag %}
                            <img src="{{ nation.flag.url }}" alt="Flag of {{ nation.name }}" height="40px" width="66px">
                            {% endif %}
                            <h1 class="mx-2 my-0 fs-4 card-title fw-bold d-inline">{{ nation.name }}</h1>
                        </div>
                        <div class="text-center text-muted">{{ nation.full_region }}</div>
                    </div>
                    <div class="card-body px-3 px-md-4 py-0 table-responsive">
                        {% include "nations/overview_table.html" %}
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-xs-12 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h1 class="mx-2 my-0 fs-4 card-title fw-bold text-center">Edit nation</h1>
                    </div>
                    <div class="card-body px-3 px-md-4">
                        {% include "nations/edit_nation.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-5 col-md-10 col-sm-10 col-xs-12 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h1 class="mx-2 my-0 fs-4 card-title fw-bold text-center">Resources</h1>
                    </div>
                    <div class="card-body px-3 px-md-4 py-0 table-responsive">
                        {% include "nations/resources_table.html" %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10 col-xs-12 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h1 class="mx-2 my-0 fs-4 card-title fw-bold text-center">Buildings</h1>
                    </div>
                    <div class="card-body px-3 px-md-4 py-0 table-responsive">
                        {% include "nations/buildings_table.html" %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
